<section>
	<h2 class="section-title">Summary</h2>
	<div class="content">
		<p>
			I want to give back all that I've received from this world and its
			people.
			<br />
			My hope is that my work can make you smile.
		</p>
	</div>
</section>
<section>
	<h2 class="section-title">Experience</h2>
	<div class="content">
		<p><strong>Southern Cross Health Society</strong></p>
		<p>Data Analyst • Dec. 2021 – present</p>
	</div>
</section>
<section>
	<h2 class="section-title">Education</h2>
	<div class="content">
		<p><strong>The University of Auckland</strong></p>
		<p>Bachelor of Engineering (Honours) in Software Engineering</p>
		<p>Mar. 2021 – Nov. 2024</p>
		<p>GPA: 8.25/9.0 • Dean’s Honours List 2021, 2022</p>
	</div>
</section>

<style>
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		margin-bottom: 0.5em;
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	/* Copied from h5 style in global.css */
	.bold {
		font-size: var(--text-xl);
		line-height: var(--header-line-height);
		font-family: var(--font-brand);
		font-weight: var(--header-weight);
		color: var(--gray-100);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
